extends _layout.pug

block locals 
  - var title = "Hello Pug"

block content
  .content
    h1.title Hello World 
    img(src="../images/icon.png", alt="アイコン")
    img(src="../images/thumbnail.jpg", alt="アイコン")
